/* ================== */
/* ===   Root Variables    === */
/* ================== */
:root {
  color-scheme: light dark;
  --mobile-breakpoint: 768px;
  /* I am writing it here, but the variable was never reused as that requires postcss */

  --radius: 0.625rem;

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --red: oklch(63.681% 0.20784 25.315);
  --yellow: oklch(79.524% 0.1616 86.05);
  --green: oklch(72.276% 0.19199 149.6);
  --blue: oklch(65.832% 0.1756 254.828);
  --gray: oklch(71.068% 0.0352 256.828);

  --accent: oklch(37.703% 0.06991 163.448);
  --accent-foreground: oklch(95.75% 0.06688 141.194);
  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);
  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);

  --table-accent: oklch(0.269 0 0);
  --table-accent-foreground: oklch(0.985 0 0);
  --table-border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);
  --input-accent: oklch(0.269 0 0);
  --input-foreground: oklch(0.985 0 0);
  --input-border: oklch(1 0 0 / 10%);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
}

/* ================== */
/* ===      Base Styles      === */
/* ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
