/* ================== */
/* ===   Root Variables    === */
/* ================== */
:root {
  color-scheme: light dark;
  --mobile-breakpoint: 768px;
  /* I am writing it here, but the variable was never reused as that requires postcss */

  --radius: 0.625rem;

  --background: light-dark(oklch(1 0 0), oklch(0.145 0 0));
  --foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));

  --primary: light-dark(oklch(0.205 0 0), oklch(0.922 0 0));
  --primary-foreground: light-dark(oklch(0.985 0 0), oklch(0.205 0 0));

  --secondary: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --secondary-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));

  --muted: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --muted-foreground: light-dark(oklch(0.556 0 0), oklch(0.708 0 0));

  --red: oklch(63.681% 0.20784 25.315);
  --yellow: oklch(79.524% 0.1616 86.05);
  --green: oklch(72.276% 0.19199 149.6);
  --blue: oklch(65.832% 0.1756 254.828);
  --gray: oklch(71.068% 0.0352 256.828);

  --accent: light-dark(
    oklch(95.75% 0.06688 141.194),
    oklch(37.703% 0.06991 163.448)
  );
  --accent-foreground: light-dark(
    oklch(37.703% 0.06991 163.448),
    oklch(95.75% 0.06688 141.194)
  );

  --accent-something: light-dark(
    oklch(60.273% 0.14322 154.272),
    oklch(60.273% 0.14322 154.272)
  );

  --destructive: light-dark(
    oklch(0.577 0.245 27.325),
    oklch(0.704 0.191 22.216)
  );

  --border: light-dark(oklch(0.922 0 0), oklch(1 0 0 / 10%));
  --ring: light-dark(oklch(0.708 0 0), oklch(0.556 0 0));

  --chart-1: light-dark(oklch(0.646 0.222 41.116), oklch(0.488 0.243 264.376));
  --chart-2: light-dark(oklch(0.6 0.118 184.704), oklch(0.696 0.17 162.48));
  --chart-3: light-dark(oklch(0.398 0.07 227.392), oklch(0.769 0.188 70.08));
  --chart-4: light-dark(oklch(0.828 0.189 84.429), oklch(0.627 0.265 303.9));
  --chart-5: light-dark(oklch(0.769 0.188 70.08), oklch(0.645 0.246 16.439));

  --card: light-dark(oklch(1 0 0), oklch(0.145 0 0));
  --card-foreground: light-dark(oklch(0.145 0 0), oklch(1 0 0));

  --popover: light-dark(oklch(1 0 0), oklch(0.145 0 0));
  --popover-foreground: light-dark(oklch(0.145 0 0), oklch(1 0 0));
  --sidebar: light-dark(oklch(0.985 0 0), oklch(0.145 0 0));
  --sidebar-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
  --sidebar-primary: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
  --sidebar-primary-foreground: light-dark(oklch(0.985 0 0), oklch(0.205 0 0));
  --sidebar-accent: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --sidebar-accent-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
  --sidebar-border: light-dark(oklch(0.922 0 0), oklch(1 0 0 / 10%));
  --sidebar-ring: light-dark(oklch(0.708 0 0), oklch(0.556 0 0));

  --table-accent: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --table-accent-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
  --table-border: light-dark(oklch(0.922 0 0), oklch(1 0 0 / 10%));

  --input: light-dark(oklch(0.922 0 0), oklch(1 0 0 / 15%));
  --input-accent: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --input-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
  --input-border: light-dark(oklch(0.922 0 0), oklch(1 0 0 / 10%));
}

/* ================== */
/* ===      Base Styles      === */
/* ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background: var(--background);
  color: var(--foreground);
  background-image: url(lock-screen-bg.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  width: 100%;
  height: 100vh;

  padding: 2em;
}

header {
  display: flex;
  justify-content: space-between;
}

/* === === */
.card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
}

.card:hover {
  background: var(--card);
}

.icon {
  width: 1em;
  height: 1em;
  backdrop-filter: blur(5px);
  border-radius: var(--radius);
}

.icon svg {
  width: 100%;
  height: 100%;
  transform: scaleX(-1) scale(1.75) translateY(-0.15em);
}

.center {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--radius);
}

.center dotlottie-wc {
  width: 4em;
}
