body {
  background: url(../public/bg.png) no-repeat center center fixed;
}

ul {
  list-style: none;
}

section {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

section#page-transition {
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

#page-transition .spinner {
  width: 4em;
  height: 4em;
  border: 0.25em solid var(--foreground);
  border-bottom: 0.25em solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loaded #page-transition {
  transform: translateY(-100%);
}

main {
  width: 100%;
  height: calc(100vh - 3em);
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "a1 b1 c1 d1 e1 f1 g1 h1 i1 j1 k1 l1 m1 n1 o1"
    "a2 b2 c2 d2 e2 f2 g2 h2 i2 j2 k2 l2 m2 n2 o2"
    "a3 b3 c3 d3 e3 f3 g3 h3 i3 j3 k3 l3 m3 n3 o3"
    "a4 b4 c4 d4 e4 f4 g4 h4 i4 j4 k4 l4 m4 n4 o4"
    "a5 b5 c5 d5 e5 f5 g5 h5 i5 j5 k5 l5 m5 n5 o5"
    "a6 b6 c6 d6 e6 f6 g6 h6 i6 j6 k6 l6 m6 n6 o6"
    "a7 b7 c7 d7 e7 f7 g7 h7 i7 j7 k7 l7 m7 n7 o7";
}

.main-grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.25em 1em;
  overflow: hidden;
}

.main-grid-item img {
  display: block;
  width: 65%;
  height: auto;
}

.main-grid-item p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875em;
}

footer {
  border-top: 1px solid var(--border);
  backdrop-filter: blur(2em) brightness(0.2);
  bottom: 0;
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .app-tray {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .app-tray .app {
  margin: 0.1em;
  border-radius: 0.5em;
  border-radius: 0.25em;
}

footer .app-tray .app:hover {
  background: var(--border);
}

footer .app-tray .app img {
  width: 2em;
  height: auto;
  padding: 0.25em;
}
