* {
    transition: all .3s ease;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatarBx {
    position: relative;
    width: 10vw;
    aspect-ratio: 1/1;

    padding: 0.5em;
    border-radius: 50%;
    overflow: hidden;

    --arc-color: var(--border);
    transition: --arc-color 0.3s ease;
}

.avatarBx:hover {
    --arc-color: var(--foreground);
}

@property --arc-color {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

.avatarBx::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: conic-gradient(from 330deg,
            var(--arc-color) 0deg 60deg,
            transparent 60deg 180deg,
            var(--arc-color) 180deg 240deg,
            transparent 240deg 360deg);
    z-index: -1;
    animation: rotate 2s linear infinite;
    animation-play-state: paused;
}

.avatarBx:hover::before {
    animation-play-state: running;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        ;
    }

    100% {
        transform: rotate(360deg);
    }
}


.avatarBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

h1 {
    font-size: 2em;
    letter-spacing: 0.05em;
}

.btn {
    position: relative;
    width: 155px;
    height: 50px;
    margin: 20px;
}

.btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: var(--foreground);
    z-index: 1;
    letter-spacing: 0.05em;
    text-decoration: none;
    overflow: hidden;
    transition: all .5s, color .5s .5s, font-weight .5s .5s;
    backdrop-filter: blur(15px);
    text-transform: uppercase;
}

.btn:hover a {
    letter-spacing: 0.2em;
    color: var(--background);
    font-weight: 600;
}

.btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: .5s;
}

.btn:hover a::before {
    transform: skewX(45deg) translateX(200%);
}

.btn::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: var(--foreground);
    border-radius: 10px;
    transition: .5s;
    transition-delay: 0s;
}

.btn:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: .5s;
}

.btn::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: var(--foreground);
    border-radius: 10px;
    transition: .5s;
    transition-delay: 0s;
}

.btn:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: .5s;
}