* {
  transition: all 0.3s ease;
}

body {
  background: url(../public/bg.png) no-repeat center center fixed;
  background-size: cover;
}

ul {
  list-style: none;
}

section#desktop {
  position: fixed;
  width: 100dvw;
  height: calc(100dvh - var(--taskbar-height));
}

section#page-transition {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

#page-transition .spinner {
  width: 4em;
  height: 4em;
  border: 0.25em solid var(--foreground);
  border-bottom: 0.25em solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loaded #page-transition {
  transform: translateY(-100%);
}

body>main {
  width: 100vw;
  height: calc(100vh - 3em);
}

/* ==================== */
/* === HELPER FUNCTIONS === */
/* ==================== */
.dragging {
  transition: none;
}

.resize-handle {
  position: absolute;
  width: var(--resize-handle);
  height: var(--resize-handle);
}

.resize-handle.n {
  top: calc(-1 * var(--resize-handle));
  left: 50%;
  width: calc(100% - var(--resize-handle));
  transform: translate(-50%, 50%);
  cursor: ns-resize;
}

.resize-handle.s {
  bottom: calc(-1 * var(--resize-handle));
  left: 50%;
  width: calc(100% - var(--resize-handle));
  transform: translate(-50%, -50%);
  cursor: ns-resize;
}

.resize-handle.e {
  right: calc(-1 * var(--resize-handle));
  top: 50%;
  height: calc(100% - var(--resize-handle));
  transform: translate(-50%, -50%);
  cursor: ew-resize;
}

.resize-handle.w {
  left: calc(-1 * var(--resize-handle));
  top: 50%;
  height: calc(100% - var(--resize-handle));
  transform: translate(50%, -50%);
  cursor: ew-resize;
}

.resize-handle.nw {
  width: calc(var(--resize-handle) * 2);
  height: calc(var(--resize-handle) * 2);
  top: calc(-1 * var(--resize-handle));
  left: calc(-1 * var(--resize-handle));
  cursor: nwse-resize;
}

.resize-handle.ne {
  width: calc(var(--resize-handle) * 2);
  height: calc(var(--resize-handle) * 2);
  top: calc(-1 * var(--resize-handle));
  right: calc(-1 * var(--resize-handle));
  cursor: nesw-resize;
}

.resize-handle.sw {
  width: calc(var(--resize-handle) * 2);
  height: calc(var(--resize-handle) * 2);
  bottom: calc(-1 * var(--resize-handle));
  left: calc(-1 * var(--resize-handle));
  cursor: nesw-resize;
}

.resize-handle.se {
  width: calc(var(--resize-handle) * 2);
  height: calc(var(--resize-handle) * 2);
  bottom: calc(-1 * var(--resize-handle));
  right: calc(-1 * var(--resize-handle));
  cursor: nwse-resize;
}

/* ==================== */
/* ===  DESKTOP GRID         === */
/* ==================== */
.desktop-icon-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.desktop-icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  border: 1px solid transparent;
  transition: 0s;
  user-select: none;
}

.desktop-icon.selected {
  background: var(--border);
  border: 1px solid var(--blue);
}

.desktop-icon img {
  width: 50%;
  height: auto;
}

.desktop-icon span {
  font-size: 0.75em;
  text-align: center;
}

/* ================== */
/* === WINDOW STYLES === */
/* ================== */
.window-container {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.window {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 400px;
  height: 300px;
  background: var(--background);
  pointer-events: auto;
  transition: all 0.3s ease;
  border-radius: var(--window-radius);
  transform: translateY(0) scale(1);
}

@starting-style {
  .window {
    transform: translateY(100vh) scale(0);
  }
}

.window.dragging {
  transition: none;
}

.window.maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 0;
}

.window.minimized {
  transform: translateY(100vh) scale(0);
}

.window header {
  height: var(--window-height);
  width: 100%;
  display: flex;
  background: var(--window-header-background);
}

.window header>div {
  height: 100%;
  display: flex;
  align-items: center;
  user-select: none;
}

.window header div:first-child {
  flex-grow: 1;
}

.window header img {
  width: auto;
  height: 1em;
  padding: 0 0.5em;
}

.window header button {
  background: transparent;
  border: none;
  color: var(--foreground);
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  transition: background 0.1s ease;
}

.window header button:active {
  background: var(--border-active);
}

.window header button:hover {
  background: var(--border);
}

.window header button:last-child:hover {
  background: var(--destructive);
}

.window main {
  width: 100%;
  height: calc(100% - var(--window-header-height));
}

/* ================== */
/* === TASKBAR  STYLES === */
/* ================== */
body>footer {
  position: fixed;
  border-top: 1px solid var(--border);
  backdrop-filter: blur(2em) brightness(0.2);
  bottom: 0;
  height: var(--taskbar-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(10vw);
  transition-delay: 0.2s;
}

body.loaded>footer {
  transform: translateY(0);
}

body>footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  user-select: none;
}


body>footer ul li:hover {
  background: var(--border);
  border-radius: 0.25em;
}

body>footer ul li img {
  width: 100%;
  height: auto;
  transition: transform 0.1s ease;
}

body>footer ul li .icon {
  height: 1.5em;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

body>footer ul li .icon svg {
  height: 1.25em;
  width: auto;
}

body>footer ul#notification-tray {
  justify-content: right;
  margin-right: 1em;
  gap: 0.1em;
}

body>footer ul#taskbar-app-tray li {
  position: relative;
  height: 2.5em;
  aspect-ratio: 1/1;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

body>footer ul#taskbar-app-tray li.focused {
  background: var(--border);
  border-radius: 0.25em;
}

body>footer ul#taskbar-app-tray li::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20%;
  height: 0.25em;
  border-radius: 0.25em;
  transform: translateY(50%);
  background: transparent;
  transition: all 0.3s ease;
}

body>footer ul#taskbar-app-tray li img {
  transform: translateY(0);
  transition: all 0.3s ease, transform 0.1s ease;
}

body>footer ul#taskbar-app-tray li:active img {
  transform: scale(0.8);
}

@starting-style {
  body footer ul#taskbar-app-tray li.open img {
    transform: translateY(-10%);
  }
}

body>footer ul#taskbar-app-tray li.open::before {
  background: var(--taskbar-icon-open);
}

body>footer ul#taskbar-app-tray li.focused::before {
  background: var(--taskbar-icon-focused);
  width: 50%;
}

body>footer ul#notification-tray li.language {
  padding: 0.5em;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  text-align: center;
}

body>footer ul#notification-tray li.wifi-speaker-battery-container {
  display: flex;
  gap: 0.35em;
  padding: 0.5em;
  height: 100%;
}

body>footer ul li#date-time {
  display: flex;
  padding: 0.25em 0.5em;
  gap: 0.5em;
}

body>footer ul li#date-time p {
  font-size: 0.75em;
  display: block;
  line-height: 1.2em;
  text-align: right;
}

/* =================== */
/* ===   SYSTEM TRAY       === */
/* =================== */
.start-menu {
  position: fixed;
  height: 70vh;
  width: 30vw;
  bottom: 4em;
  left: 50%;
  padding: 1.5em;
  transform: translateX(-50%) translateY(100vh);
  border-radius: 0.5em;
  backdrop-filter: blur(2em) brightness(0.2);
  transition: transform 0.3s ease;
}

.start-menu.visible {
  transform: translateX(-50%) translateY(0);
}

.start-menu .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  padding: 0 0.5em;
  border-radius: 0.25em;
  height: 2em;
  background: var(--background);
  color: var(--foreground);
  border: 1px solid oklch(100% 0.00011 271.152 / 0.158);
  border-radius: 2em;
}

.start-menu input#start_menu_search {
  flex-grow: 1;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
}

/* ===================== */
/* === NOTIFICATION MENU === */
/* ===================== */
.notification-menu {
  position: fixed;
  height: calc(100vh - var(--taskbar-height));
  width: 25vw;
  right: 0;
  top: 0;
  padding: 1em;
  transform: translateX(100%);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  transition: transform 0.25s ease;
}

.notification-menu.visible {
  transform: translateX(0);
}

.notification-menu .card {
  background: var(--notification-background);
  border-radius: 0.5em;
  margin-bottom: 1em;
  border: 1px solid var(--border);
}

.notification-menu .card header {
  width: 100%;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
}

.notification-menu .card header div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.notification-menu .card header .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--border);
  padding: 0.5em;
  font-size: 0.75em;
  border-radius: 0.5em;
  height: 100%;
}

.notification-menu .card header .icon svg {
  height: 1em;
  width: auto;
}

.notification-menu .card footer {
  padding: 0.5em 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border);
}

main.notification-calendar {
  background: var(--notification-content-background);
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.3s ease-in-out;
}

main.notification-calendar.collapsed {
  grid-template-rows: 0fr;
}

main.notification-calendar>div {
  overflow: hidden;
}

main.notification-calendar .notification-calendar-header {
  padding: 0.5em 0.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

main.notification-calendar .notification-calendar-header p {
  flex: 1;
  padding: 0.25em;
  padding-left: 0.5em;
  border-radius: 0.25em;
}

main.notification-calendar .notification-calendar-header p:hover {
  background: var(--border);
}

main.notification-calendar .notification-calendar-month-controls {
  display: flex;
  gap: 0.25em;
}

main.notification-calendar .notification-calendar-month-controls .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.25em;
  border-radius: 0.25em;
}

main.notification-calendar .notification-calendar-month-controls .icon:hover {
  background: var(--border);
}

main.notification-calendar .notification-calendar-month-controls .icon svg {
  transform: scale(0.5);
}

.card:has(main.notification-calendar.collapsed) #notification-calendar-toggle svg {
  transform: rotate(-180deg);
}

main.notification-calendar .notification-calendar-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main.notification-calendar .notification-calendar-main>div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  padding: 0 0.5em;
}

main.notification-calendar .notification-calendar-main p {
  font-size: 0.85em;
  width: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}

main.notification-calendar .notification-calendar-main-dates p{
  color: var(--border-active);
  border: 1px solid transparent;
  border-radius: 50%;
  transition: all 0s;
}

main.notification-calendar .notification-calendar-main-dates p:hover{
  background: var(--border);
  color: var(--foreground);
  border: 1px solid var(--border-active);
}

main.notification-calendar .notification-calendar-main-dates p.active{
  color: var(--foreground);
}

main.notification-calendar .notification-calendar-main-dates p.today{
  background: var(--blue);
  color: var(--background);
  border: 1px solid var(--border);
}

/* ================ */
/* ===  APP SPECIFIC === */
/* ================ */
.notepad .window-content {
  font-family: "Consolas", monospace;
  font-size: 1em;
}