ul {
  list-style: none;
}

section {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

section#desktop {
  background: url(../public/bg.png) no-repeat center center fixed;
  background-size: cover;
}

section#page-transition {
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

#page-transition .spinner {
  width: 4em;
  height: 4em;
  border: 0.25em solid var(--foreground);
  border-bottom: 0.25em solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loaded #page-transition {
  transform: translateY(-100%);
}

main {
  width: 100vw;
  height: calc(100vh - 3em);
}

/* ==================== */
/* ===  DESKTOP GRID         === */
/* ==================== */

.desktop-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "a1 b1 c1 d1 e1 f1 g1 h1 i1 j1 k1 l1 m1 n1"
    "a2 b2 c2 d2 e2 f2 g2 h2 i2 j2 k2 l2 m2 n2"
    "a3 b3 c3 d3 e3 f3 g3 h3 i3 j3 k3 l3 m3 n3"
    "a4 b4 c4 d4 e4 f4 g4 h4 i4 j4 k4 l4 m4 n4"
    "a5 b5 c5 d5 e5 f5 g5 h5 i5 j5 k5 l5 m5 n5"
    "a6 b6 c6 d6 e6 f6 g6 h6 i6 j6 k6 l6 m6 n6";
  gap: 0.5em;
  padding: 0.5em;
}

.desktop-grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  padding: 0.25em 0.5em;
  transition: 0s;
  border: 2px solid transparent;
}

.desktop-grid-item.active {
  background: color-mix(in oklch, var(--foreground) 50%, transparent);
  border: 2px solid var(--blue);
}

.desktop-grid-item img {
  display: block;
  width: 65%;
  height: auto;
  user-select: none;
}

.desktop-grid-item p {
  max-width: 100%;
  font-size: 0.875em;
  outline: 0;
}

.desktop-grid-item p:focus,
.desktop-grid-item p:focus-visible {
  outline: 2px solid var(--blue);
  border-radius: 2px;
}

/* ===================== */
/* ===   WINDOW STYLES      === */
/* ===================== */

.desktop-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}

.desktop-container .window-frame {
  position: absolute;
  pointer-events: all;
  background: var(--background);
  border-radius: 0.5em;
  transition: transform 0.3s ease;
  transform: translateY(0);
}

.desktop-container .window-frame.active {
  box-shadow: 0 0 1em var(--border);
}

.desktop-container .window-frame.minimized {
  transform: translateY(100vh);
}

.desktop-container .window-frame.maximized {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  border-radius: 0 !important;
}

.desktop-container .title-bar {
  height: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--border);
}

.desktop-container .title-bar .imgBx {
  width: 2em;
  height: 2em;
  display: grid;
  place-items: center;
}
.desktop-container .title-bar .icon {
  width: auto;
  height: 1em;
}

.desktop-container .title-bar .title {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  user-select: none;
}

.desktop-container .title-bar .controls {
  height: 100%;
  display: flex;
}

.desktop-container .title-bar .controls button {
  background: none;
  outline: none;
  border: none;
  width: 3em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-container .title-bar .controls button:hover {
  background: var(--border);
  cursor: pointer;
}

.desktop-container .title-bar .controls button:last-child {
  border-top-right-radius: 0.5em;
}

.desktop-container .title-bar .controls button:last-child:hover {
  background: var(--red);
}

.desktop-container .title-bar .controls button svg{
  width: 1em;
  height: 1em;
}

.desktop-container .window-content {
  height: calc(100% - 2em);
}

.desktop-container .window-content > * {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

/* === WINDOW RESIZERS === */
.resizer {
  position: absolute;
  z-index: 10;
}

/* Edges */
.resizer.n {
  top: -5px;
  left: 5px;
  right: 5px;
  height: 10px;
  cursor: n-resize;
}
.resizer.s {
  bottom: -5px;
  left: 5px;
  right: 5px;
  height: 10px;
  cursor: s-resize;
}
.resizer.e {
  right: -5px;
  top: 5px;
  bottom: 5px;
  width: 10px;
  cursor: e-resize;
}
.resizer.w {
  left: -5px;
  top: 5px;
  bottom: 5px;
  width: 10px;
  cursor: w-resize;
}

/* Corners */
.resizer.nw {
  top: -5px;
  left: -5px;
  width: 15px;
  height: 15px;
  cursor: nw-resize;
  z-index: 11;
}
.resizer.ne {
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  cursor: ne-resize;
  z-index: 11;
}
.resizer.sw {
  bottom: -5px;
  left: -5px;
  width: 15px;
  height: 15px;
  cursor: sw-resize;
  z-index: 11;
}
.resizer.se {
  bottom: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  cursor: se-resize;
  z-index: 11;
}
/* ================== */
/* === TASKBAR  STYLES === */
/* ================== */
footer {
  position: fixed;
  border-top: 1px solid var(--border);
  backdrop-filter: blur(2em) brightness(0.2);
  bottom: 0;
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-taskbar);
}

footer .app-tray {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  transition: all 0.3s ease;
}

footer .app-tray .app {
  height: 2.5em;
  aspect-ratio: 1/1;
  border-radius: 0.25em;
  display: grid;
  place-items: center;
  transition: all 0.3s ease;
}

footer .app-tray .app:hover {
  background: var(--border);
}

footer .app-tray .app.open {
  position: relative;
}

footer .app-tray .app.active {
  background: var(--border);
}

footer .app-tray .app.open::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 0.25em;
  border-radius: 0.25em;
  background: var(--gray);
  transition: all 0.3s ease;
}

footer .app-tray .app.open.active::before {
  width: 50%;
  background: var(--blue);
}

footer .app-tray .app img {
  width: 2.125em;
  height: auto;
  padding: 0.25em;
}

/* =================== */
/* ===   SYSTEM TRAY       === */
/* =================== */
.start-menu {
  position: fixed;
  height: 70vh;
  width: 30vw;
  bottom: 4em;
  left: 50%;
  padding: 4em;
  transform: translateX(-50%) translateY(100vh);
  border-radius: 0.5em;
  backdrop-filter: blur(2em) brightness(0.2);
  transition: transform 0.3s ease;
}

.start-menu.open {
  transform: translateX(-50%) translateY(0);
}

.start-menu input.search {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.25em;
  height: 2em;
  background: var(--background);
  color: var(--foreground);
  border: 2px solid oklch(100% 0.00011 271.152 / 0.493);
  border-radius: 2em;
}
/* ================ */
/* ===  APP SPECIFIC === */
/* ================ */
.notepad .window-content {
  font-family: "Consolas", monospace;
  font-size: 1em;
}
